body {
	margin: 0;
	font-family: Arial, sans-serif;
	background: linear-gradient(to bottom, #f0f8ff, #ffe4e1);
}

.app {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	padding-top: 20px;
	margin-left: 500px;
}

form {
	display: flex;
	justify-content: center;
	margin-bottom: 20px;
}

input[type='text'] {
	width: 300px;
	padding: 10px;
	border: 1px solid #1a85ff;
	border-radius: 4px;
	font-size: 16px;
	outline: none;
}

ol {
	list-style: none;
	padding: 0;
	width: 100%;
	max-width: 400px;
}

.itemTitle {
	background-color: #fff;
	border: 1px solid #e0e0e0;
	padding: 10px;
	margin-bottom: 10px;
	position: relative;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.itemTitle::before {
	content: attr(data-index);
	position: absolute;
}
.itemTitle_text {
	width: 225px;
	padding: 6px 34px 6px 10px;
	font-size: inherit;
	font-family: inherit;
	line-height: inherit;
	border: 1px solid #e0e0e0;
	border-radius: 4px;
	outline: none;
}
